extends layout

block layout-content
  p You have successfully logged in, your unreplied email will be getting replies
  // Just putting the raw url here for local development
  a(href="http://localhost:3000") Login Page
